<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
  </head>
  <body>
    <main>
      <header>
        <h1>BOOKIFY</h1>
        <nav>
          <a href="#home">Home</a>
          <a href="#home">Contact</a>
          <a href="#home">About Us</a>
          <button type="Login">Login</button>
        </nav>
      </header>
      <section>
        <h2>Read More. Learn More. Become More.</h2>
        <p>
          We make knowledge accessible wherever you are. Browse our collection
          of eBooks, find something that inspires you, and start your next
          reading journey today.
        </p>
        <button type="Get Started">Get Started</button>
      </section>
      <section>
        <h2>About Us</h2>
        <p>
          Welcome to Bookify, a digital space created for curious minds,
          passionate readers, and lifelong learners. We believe that a great
          book can inspire an idea, change a perspective, or open the door to a
          new opportunity. Our store brings together a growing collection of
          eBooks across different categories, including personal development,
          business, technology, education, fiction, and lifestyle. Whether
          you're looking to learn a new skill, find inspiration, or simply enjoy
          a great story, we're here to make your next read easy to discover.
          With instant digital access, you can explore and enjoy your favorite
          books wherever you are—on your phone, tablet, or computer.
        </p>
      </section>
      <section>
        <footer>
          <div class="social-links">
            <a href="" aria-label="ShipBridge Facebook"
              ><i class="fa-brands fa-square-facebook"></i
            ></a>
            <a href="" aria-label="ShipBridge Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
        </footer>
        <div id="contact">
          <p>&copy;2026 ShipBridge. All rights reserved.</p>
          <p>Contact: 0712 345 678</p>
        </div>
      </section>
    </main>
  </body>
</html>
