<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookify</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <header>
        <h1>BOOKIFY</h1>
        <nav>
          <button id="cart-button"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
          <span id="Cart-count">0</span>
          <a href="index.html">Back Home</a>
        </nav>
      </header>
      <section>
        <h2>Find Your Next Great Read</h2>
        <p>
          Explore educational books for CBC pupils, personal development books,
          and inspiring reads for everyone.
        </p>
      </section>
      <section>
        <h2> Grade 1 Books</h2>
        <div>
            <article class="book-card">
                <img src="\images\Grade 1 Eng.jpg" alt="English Grade 1 book">
                <div>
                    <h3>
                        Grade 1 English
                    </h3>
                    <p>
                        CBC English learning material for Grade 1 pupils
                    </p>
                    <div>
                        <strong>Ksh 350</strong>
                        <button class="add-cart">Add to Cart</button>
                    </div>
                </div>
            </article>
            <article>
                
            </article>
        </div>
      </section>
    </main>
  </body>
</html>
